<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APS3_CacaPalavras.Properties.Settings.stringConexao"
            connectionString="Data Source=DP619-07;Min Pool Size=5;Max Pool Size=350; Connect Timeout=3;Initial Catalog=APS3_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>